
/lazygit
/plugins
/tmux
/git
/nvim
/iterm2/AppSupport
/iterm2/sockets
/nix-darwin/result
/coc
/op
/Code
/1Password
/enchant
/gedit
/nautilus

.zshenv
.zshrc
.zcompdump*
*.log
result

# ubuntu
/dconf
/environment.d
/evolution
/gtk-3.0
home-manager
/ibus
/pulse

.gsd-keyboard.settings-ported
user-dirs.dirs
user-dirs.locale
gnome-initial-setup-done
